.category-container{
text-align: center;
}

.category-size{
    width: 100px;
    height: 100px;
}

.category-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bold-text-bold{
    font-weight: bold;
}

@media (max-width: 992px){
.category-container{
        overflow-x: auto;
        text-align: center;
        scroll-padding-left: 20px;
    }

    .category-card:first-child {
        margin-left: 80px;
    }
    
}